@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;600&display=swap");
:root {
  --Desaturated-Red: hsl(0, 36%, 70%);
  --Soft-Red: hsl(0, 93%, 68%);
  --Dark-Grayish-Red: hsl(0, 6%, 24%);
  /*- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
    - Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
- Mobile: 375px
- Desktop: 1440px
*/
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
/*.sr-only a:focus {
  position: static;
  width: auto;
  height: auto;
}*/

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  /*color: black;*/
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comming-soon {
  max-width: 1150px;
  min-width: 900px;
  width: 100%;
  display: grid;
  grid:
    "logo-item cover-item"
    "desc-item cover-item";
  grid-template-columns: 3fr 2.2fr;
  margin: 6.5rem auto;
  background: url(images/bg-pattern-desktop.svg) no-repeat;
  /*background-position: top 0 left 0;*/
  background-size: contain;
}

.logo-item,
.desc-item {
  padding: 3.2rem 8.2rem;
  padding-right: 11.3rem;
}
.cover-item {
  grid-area: cover-item;
  background: url(images/hero-desktop.jpg) no-repeat;
  background-size: contain;
}
.logo-item {
  grid-area: logo-item;
}
.logo-item img{
    width: 125px;
}
.desc-item {
  grid-area: desc-item;
  margin-bottom: 3.7rem;
}

.desc-item h2 {
  color: var(--Desaturated-Red);
}
.desc-item h2,
.desc-item h3 {
  font-size: 3.2em;
  font-weight: 300;
  letter-spacing: 14px;
  text-transform: uppercase;
  line-height: 3.4rem;
}
.desc-item h3 {
  font-weight: 600;
}
.desc-item p {
  margin: 18px 0;
  font-size: 13px/*0.81em*/;
  line-height: 1.35rem;
  color: var(--Desaturated-Red);
}
.desc-item input[type="email"] {
  border: solid 1px #c8c8c8;
  padding: 14px 1.5rem;
  padding-right: 6rem;
  border-radius: 30px;
  margin: 16px 0;
  width: 100%;
  color: var(--Desaturated-Red);
}
.desc-item input[type="submit"] {
  position: absolute;
  right: -5px;
  border: 0;
  width: 5rem;
  padding: 15px 1.5rem;
  border-radius: 30px;
  background: url(images/icon-arrow.svg) no-repeat center;
  background-size: 10px;
  background-color: #f19b9c;
  box-shadow: 0 14px 10px rgba(241, 155, 156, 0.3);
}
.desc-item ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--Desaturated-Red);
}
.desc-item ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--Desaturated-Red);
}
.desc-item input[type="email"]:focus {
  outline: none;
}
.flex {
  display: flex;
  align-items: center;
}
.relative {
  position: relative;
}

@media screen and (max-width: 480px) {
  .comming-soon {
    max-width: 480px;
    min-width: 350px;
    width: 100%;
    display: grid;
    grid:
      "logo-item"
      "cover-item"
      "desc-item";
    /*grid-template-columns: 1fr 0;*/
    margin: 6.5rem auto;
  }
  .cover-item {
    height: 250px;
    grid-area: cover-item;
    background: url(images/hero-mobile.jpg) no-repeat;
    background-size: contain;
  }
  .logo-item,
  .desc-item {
    padding: 3.1rem 2rem;
  }
  .desc-item {
    text-align: center;
  }
}
